bin/
obj/
out/

.vs/
.vscode/
.idea/

*.user
*.suo
*.userosscache
*.sln.docstates

[Dd]ebug/
[Rr]elease/
x64/
x86/
AnyCPU/

*.log

.env
secrets.json
appsettings.Development.json
appsettings.Local.json
appsettings.json

**/docker-data/
**/docker-volumes/

*.mdf
*.ldf

.DS_Store
Thumbs.db
ehthumbs.db

TestResults/

packages/
*.nupkg
*.snupkg
.nuget/

publish/

*.tmp
*.temp

**/DidWeFeedTheCatToday.Mobile/.dart_tool/
**/DidWeFeedTheCatToday.Mobile/.flutter-plugins
**/DidWeFeedTheCatToday.Mobile/.flutter-plugins-dependencies
**/DidWeFeedTheCatToday.Mobile/.packages
**/DidWeFeedTheCatToday.Mobile/.pub-cache/
**/DidWeFeedTheCatToday.Mobile/.pub/
**/DidWeFeedTheCatToday.Mobile/build/

**/DidWeFeedTheCatToday.Mobile/android/local.properties
**/DidWeFeedTheCatToday.Mobile/android/key.properties
**/DidWeFeedTheCatToday.Mobile/android/app/src/main/java/io/flutter/plugins/
**/DidWeFeedTheCatToday.Mobile/android/.gradle/
**/DidWeFeedTheCatToday.Mobile/android/app/build.gradle

**/DidWeFeedTheCatToday.Mobile/ios/.bundle/
**/DidWeFeedTheCatToday.Mobile/ios/Flutter/Generated.xcconfig
**/DidWeFeedTheCatToday.Mobile/ios/Flutter/flutter_export_environment.sh
**/DidWeFeedTheCatToday.Mobile/ios/Flutter/App.framework
**/DidWeFeedTheCatToday.Mobile/ios/Pods/
**/DidWeFeedTheCatToday.Mobile/ios/.symlinks/
**/DidWeFeedTheCatToday.Mobile/ios/Podfile.lock

**/DidWeFeedTheCatToday.Mobile/.web_tool/
**/DidWeFeedTheCatToday.Mobile/.metadata