bin/
obj/
out/

.vs/
.vscode/
.idea/

*.user
*.suo
*.userosscache
*.sln.docstates

[Dd]ebug/
[Rr]elease/
x64/
x86/
AnyCPU/

*.log

.env
secrets.json
appsettings.Development.json
appsettings.Local.json
appsettings.json

**/docker-data/
**/docker-volumes/

*.mdf
*.ldf

.DS_Store
Thumbs.db
ehthumbs.db

TestResults/

packages/
*.nupkg
*.snupkg
.nuget/

publish/

*.tmp
*.temp