@page "/pets"
@using DidWeFeedTheCatToday.Client.Components
@using DidWeFeedTheCatToday.Shared.DTOs.Pets
@using DidWeFeedTheCatToday.Shared.DTOs.Feedings
@using DidWeFeedTheCatToday.Client.Services
@using DidWeFeedTheCatToday.Shared.Enums
@using Microsoft.AspNetCore.SignalR.Client
@implements IAsyncDisposable
@inject PetService PetClient

<PageTitle>Our Pets</PageTitle>

<h1>Pets</h1>

<div class="row mb-4">
    <div class="col-md-6">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search by name..." @bind="searchTerm" @bind:event="oninput" @onkeyup="LoadPets" />
            <button class="btn btn-outline-secondary" @onclick="HandleSearch">Search</button>
        </div>
    </div>
</div>

@if (pets == null)
{
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
}
else if (!pets.Any())
{
    <p>Add your pets to see them here!</p>
}
else
{
    <div class="row">
        @foreach (var pet in pets)
        {
            <div class="col-md-4">
                <PetCard
                    Pet="pet"
                    OnFeedRequest="HandleFeed"
                    OnDeleteRequest="HandleDelete"
                />
            </div>
        }
    </div>

    <div class="d-flex justify-content-center align-items-center gap-3 mt-4">
        <button class="btn btn-primary" @onclick="PrevPage" disabled="@(currentPage <= 1)">Previous</button>
        <span>Page @currentPage of @totalPages</span>
        <button class="btn btn-primary" @onclick="NextPage" disabled="@(currentPage >= totalPages)">Next</button>
    </div>
}

@code {
    private bool showToast = false;
    private string toastMessage = "Unhadled exception.";
    private string toastClass = "bg-success";

    private List<GetPetDTO>? pets;
    private HubConnection? hubConnection;

    private int currentPage = 1;
    private int totalPages = 1;
    private string searchTerm = "";

    protected override async Task OnInitializedAsync()
    {
        await LoadPets();

        hubConnection = new HubConnectionBuilder()
        .WithUrl("http://localhost:8080/pet-hub")
        .WithAutomaticReconnect()
        .Build();

        hubConnection.On<int, DateTime>("PetFed", async (petId, feedingTime) =>
        {
            await InvokeAsync(() =>
            {
                var pet = pets?.FirstOrDefault(p => p.Id == petId);
                if (pet != null)
                {
                    pet.LastFed = feedingTime;
                    pet.Status = HungerStatus.Full;
                    StateHasChanged();
                }
            });
        });

        await hubConnection.StartAsync();
    }

    private async Task LoadPets()
    {
        var result = await PetClient.GetPetsAsync(currentPage, searchTerm);
        pets = result.Items.ToList();

        currentPage = result.CurrentPage;
        totalPages = result.TotalPages;

        StateHasChanged();
    }

    private async Task HandleSearch()
    {
        currentPage = 1;
        await LoadPets();
    }

    private async Task NextPage()
    {
        if (currentPage < totalPages)
        {
            currentPage++;
            await LoadPets();
        }
    }

    private async Task PrevPage()
    {
        if (currentPage > 1)
        {
            currentPage--;
            await LoadPets();
        }
    }

    private async Task HandleDelete(int id)
    {
        var success = await PetClient.DeletePetAsync(id);
        if (success)
        {
            pets?.RemoveAll(pet => pet.Id == id);
            await ShowToast("Pet deleted successfully!");
        }
        else
            await ShowToast(isError: true);
    }

    private async Task HandleFeed(int petId)
    {
        var feedingTime = DateTime.UtcNow;
        var feeding = new PostFeedingDTO { FeedingTime = feedingTime, PetId = petId };
        var success = await PetClient.AddFeedingAsync(feeding);

        if (success)
            await ShowToast("Pet fed successfully!");
        else
            await ShowToast(isError: true);
    }

    private async Task ShowToast(string message = "Something went wrong. Try again later.", bool isError = false)
    {
        toastMessage = message;
        toastClass = isError ? "bg-danger" : "bg-success";
        showToast = true;
        StateHasChanged();

        await Task.Delay(3000);
        showToast = false;
        StateHasChanged();
    }

    public async ValueTask DisposeAsync()
    {
        if (hubConnection != null)
            await hubConnection.DisposeAsync();
    }
}

@if (showToast)
{
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div class="toast show align-items-center text-white @toastClass border-0" role="alert">
            <div class="d-flex">
                <div class="toast-body">
                    @toastMessage
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" @onclick="() => showToast = false"></button>
            </div>
        </div>
    </div>
}
