@page "/pets"
@using DidWeFeedTheCatToday.Shared.DTOs.Pets
@using DidWeFeedTheCatToday.Shared.DTOs.Feedings
@using DidWeFeedTheCatToday.Client.Services
@inject PetService PetClient

<PageTitle>Our Pets</PageTitle>

<h1>Pets</h1>

@if (pets == null)
{
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
}
else if (!pets.Any())
{
    <p>Add your pets to see them here!</p>
}
else
{
    <div class="row">
        @foreach (var pet in pets)
        {
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">@pet.Name</h5>
                        <p class="card-text"> Age: @(pet.Age.HasValue ? pet.Age : "Not specified.")</p>
                        <p class="card-text"> Last feeding: @(pet.LastFed.HasValue ? pet.LastFed.Value.ToLocalTime().ToString("g") : "Not fed yet.")</p>
                        <p class="text-muted">@pet.AdditionalInformation</p>
                        <div class="d-flex justify-content-between align-items-center mt-3">
                            <button class="btn btn-sm btn-success" @onclick="() => HandleFeed(pet.Id)">
                                Feed me!
                            </button>
                            <button class="btn btn-sm btn-outline-danger" @onclick="() => HandleDelete(pet.Id)">
                                Delete
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}

@code {
    private bool showToast = false;
    private string toastMessage = "Unhadled exception.";
    private string toastClass = "bg-success";
    private List<GetPetDTO>? pets;

    protected override async Task OnInitializedAsync()
    {
        pets = await PetClient.GetPetsAsync();
    }

    private async Task HandleDelete(int id)
    {
        var success = await PetClient.DeletePetAsync(id);
        if (success)
        {
            pets?.RemoveAll(pet => pet.Id == id);
            await ShowToast("Pet deleted successfully!");
        }
        else
            await ShowToast(isError: true);
    }

    private async Task HandleFeed(int petId)
    {
        var feedingTime = DateTime.UtcNow;
        var feeding = new PostFeedingDTO { FeedingTime = feedingTime, PetId = petId };
        var success = await PetClient.AddFeedingAsync(feeding);

        if (success)
        {
            var petToUpdate = pets?.FirstOrDefault(pet => pet.Id == petId);
            if (petToUpdate != null)
                petToUpdate.LastFed = feedingTime;

            await ShowToast("Pet fed successfully!");
        }
        else
            await ShowToast(isError: true);
    }

    private async Task ShowToast(string message = "Something went wrong. Try again later.", bool isError = false)
    {
        toastMessage = message;
        toastClass = isError ? "bg-danger" : "bg-success";
        showToast = true;
        StateHasChanged();

        await Task.Delay(3000);
        showToast = false;
        StateHasChanged();
    }
}

@if (showToast)
{
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div class="toast show align-items-center text-white @toastClass border-0" role="alert">
            <div class="d-flex">
                <div class="toast-body">
                    @toastMessage
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" @onclick="() => showToast = false"></button>
            </div>
        </div>
    </div>
}
